In [8]:
from bs4 import BeautifulSoup as bs
import requests

r = requests.get("https://en.wikipedia.org/wiki/Toy_Story_3")

#Convert to a beautiful soup object
soup = bs(r.content)

#Print out the HTML

contents = soup.prettify()
#print(contents)

#this is how we would capture info from the website using requests and beautiful soup and then further focus on the table rows (tr)

info_box = soup.find(class_="infobox vevent")
info_rows = info_box.find_all("tr")
for row in info_rows:
    print (row.prettify())

#creating a function get_content_value that handles list and regular texts from the table data (td)
#running a for loop through the table rows (stored inside info_rows defined above) and:
#title (index 0) is received by defining and then picture is skipped at index 1 and the rest is automated 
#string replacement is used to repalce weird haracters with space
#get_text method's properties were used to cleaup spacing issues (refer to documentation)

def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0"," ") for li in row_data.find_all("li")]
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0"," ")
    
movie_info = {}

for index, row in enumerate(info_rows):
    if index == 0:
        movie_info['title'] = row.find("th").get_text(" ", strip=True)
    elif index == 1:
        continue
    else:
        content_key = row.find("th").get_text(" ", strip=True)
        content_value = get_content_value(row.find("td"))
        movie_info[content_key] = content_value

movie_info

### Lets begin by scraping the list of Disney movies

In [9]:
rr = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")

# Convert to a beautiful soup object
ssoup = bs(r.content)

# Print out the HTML

ccontents = ssoup.prettify()

NameError: name 'r' is not defined

In [33]:
#this time we are going to use a different method called select instead of find_all to work with CSS selectors

mmovies = ssoup.select(".wikitable.sortable i" )# i represents everything written in etalics within the table

mmovies[0:10]

[<i><a href="/wiki/Academy_Award_Review_of_Walt_Disney_Cartoons" title="Academy Award Review of Walt Disney Cartoons">Academy Award Review of Walt Disney Cartoons</a></i>,
 <i><a href="/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)" title="Snow White and the Seven Dwarfs (1937 film)">Snow White and the Seven Dwarfs</a></i>,
 <i><a href="/wiki/Pinocchio_(1940_film)" title="Pinocchio (1940 film)">Pinocchio</a></i>,
 <i><a href="/wiki/Fantasia_(1940_film)" title="Fantasia (1940 film)">Fantasia</a></i>,
 <i><a href="/wiki/The_Reluctant_Dragon_(1941_film)" title="The Reluctant Dragon (1941 film)">The Reluctant Dragon</a></i>,
 <i><a href="/wiki/Dumbo" title="Dumbo">Dumbo</a></i>,
 <i><a href="/wiki/Bambi" title="Bambi">Bambi</a></i>,
 <i><a href="/wiki/Saludos_Amigos" title="Saludos Amigos">Saludos Amigos</a></i>,
 <i><a href="/wiki/Victory_Through_Air_Power_(film)" title="Victory Through Air Power (film)">Victory Through Air Power</a></i>,
 <i><a href="/wiki/The_Three_Caballeros" title="The Three Caballeros">The Three Caballeros</a></i>]

In [34]:
#lets seperately catch the href and title from the items

mmovies[1].a["href"]

'/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)'

In [35]:
mmovies[1].a["title"]

'Snow White and the Seven Dwarfs (1937 film)'

### Lets use what we figured in above markdown and code to define functions that are going to automate things for us

In [13]:
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0"," ") for li in row_data.find_all("li")]
    elif row_data.find("br"):
        return [text for text in row_data.stripped_strings]# this is to ensure anything that has br will be joined
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0"," ")

def clean_tags(soup):
    for tag in soup.find_all("sup"):
        tag.decompose()
    
def get_info_box(url):

    r = requests.get(url)
    
    soup = bs(r.content)
    info_box = soup.find(class_="infobox vevent")
    info_rows = info_box.find_all("tr")
    
    clean_tags(soup)

    movie_info = {}
    for index, row in enumerate(info_rows):
        if index == 0:
            movie_info['title'] = row.find("th").get_text(" ", strip=True)
        else:
            header = row.find("th")
            if header:
                content_key = row.find("th").get_text(" ", strip=True)
                content_value = get_content_value(row.find("td"))
                movie_info[content_key] = content_value
            
    return movie_info

In [16]:
get_info_box("https://en.wikipedia.org/wiki/Howl%27s_Moving_Castle_(film)")

{'title': "Howl's Moving Castle",
 'Japanese': 'ハウルの動く城',
 'Hepburn': 'Hauru no Ugoku Shiro',
 'Directed by': 'Hayao Miyazaki',
 'Screenplay by': 'Hayao Miyazaki',
 'Based on': ["Howl's Moving Castle", 'by', 'Diana Wynne Jones'],
 'Produced by': 'Toshio Suzuki',
 'Starring': ['Chieko Baisho', 'Takuya Kimura', 'Akihiro Miwa'],
 'Cinematography': 'Atsushi Okui',
 'Edited by': 'Takeshi Seyama',
 'Music by': 'Joe Hisaishi',
 'Production company': 'Studio Ghibli',
 'Distributed by': 'Toho',
 'Release date': ['5 September 2004 ( 2004-09-05 ) ( Venice )',
  '20 November 2004 ( 2004-11-20 ) (Japan)'],
 'Running time': '119 minutes',
 'Country': 'Japan',
 'Language': 'Japanese',
 'Budget': ['¥', '2.4 billion', 'US$24 million'],
 'Box office': ['¥', '23.2 billion', 'US$236 million (worldwide)']}

In [17]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = bs(r.content)
movies = soup.select(".wikitable.sortable i a")#grabbing the a item out of the italics to handle errors with no links

base_path = "https://en.wikipedia.org/"

movie_info_list = []
for index, movie in enumerate(movies):
    #if index == 10: # this is how you check for errors without running everthing
        #break    
    if index % 10 == 0: # just an indexed way to check for errors; pretty helpful
        print(index)
    try:
        relative_path = movie['href']
        full_path = base_path + relative_path
        title = movie['title']
        
        movie_info_list.append(get_info_box(full_path))
        
    except Exception as e:
        print(movie.get_text())
        print(e)

0
10
20
30
40
Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
50
60
70
80
90
100
110
120
True-Life Adventures
'NoneType' object has no attribute 'find_all'
130
140
The London Connection
'NoneType' object has no attribute 'find'
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
Better Nate Than Never
'NoneType' object has no attribute 'find_all'
Sister Act 3
'NoneType' object has no attribute 'find'
460
Tron: Ares
'NoneType' object has no attribute 'find'
470

In [18]:
len(movie_info_list)

466

### Save/Reload Movie Data

In [191]:
import json

def save_data(title, data):
    with open(title, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=2)

In [192]:
import json

def load_data(title):
    with open(title, encoding="utf-8") as f:
        return json.load(f)

In [21]:
save_data("disney_data_clean.json", movie_info_list)

### Lets clean the data

In [28]:
movie_info_list = load_data("disney_data_clean.json")

#### After going through the data, the following needs to be done
- Clean up the references (by defining a new fuction called clean_tags)
- Convert running time into an integer 
- Convert dates into datetime object
- Split up the long strings (by editing the get_content_value function to handle the br tags)
- Convert Budget & Box office to numbers
- Address NoneType errors from generating at the scrappign level (by editing the get_info_box function to only look at headers after index 0)

#### Lets fix the running time to only have the integer

In [23]:
print([movie.get('Running time', 'N/A') for movie in movie_info_list])

['41 minutes (74 minutes 1966 release)', '83 minutes', '88 minutes', '126 minutes', '74 minutes', '64 minutes', '70 minutes', '42 minutes', '70 min', '71 minutes', '75 minutes', '94 minutes', '73 minutes', '75 minutes', '82 minutes', '68 minutes', '74 minutes', '96 minutes', '75 minutes', '84 minutes', '77 minutes', '92 minutes', '69 minutes', '81 minutes', ['60 minutes (VHS version)', '71 minutes (original)'], '127 minutes', '92 minutes', '76 minutes', '75 minutes', '73 minutes', '85 minutes', '81 minutes', '70 minutes', '90 min.', '80 minutes', '75 minutes', '83 minutes', '83 minutes', '72 minutes', '97 minutes', '75 minutes', '104 minutes', '93 minutes', '105 minutes', '95 minutes', '97 minutes', '134 minutes', '69 minutes', '92 minutes', '131 minutes', '79 minutes', '97 minutes', '128 minutes', '74 minutes', '91 minutes', '105 minutes', '98 minutes', '130 minutes', '89 min.', '93 minutes', '67 minutes', '98 minutes', '100 minutes', '118 minutes', '103 Minutes', '110 minutes', '80 min.', '79 minutes', '91 minutes', '91 minutes', '97 minutes', '118 minutes', '139 minutes', '92 minutes', '131 mins.', '87 minutes', '116 minutes', '93 minutes', '110 min.', '110 min.', '131 minutes', '101 minutes', '108 minutes', '84 minutes', '78 minutes', '75 minutes', ['164 minutes', '(', 'Los Angeles', 'premiere)', '144 minutes', '(', 'New York City', 'premiere)', '118 minutes', '(General release)', '172 minutes', '(', "Director's cut", ')'], '106 minutes', '110 minutes', '99 minutes', '113 mins.', '108 minutes', '112 minutes', '93 minutes', '91 minutes', '93 minutes', '100 minutes', '100 minutes', '79 minutes', '96 minutes', '113 minutes', '89 minutes', ['118 minutes (1971 original version)', '139 minutes (1996 reconstruction version)'], '92 minutes', '88 minutes', '92 minutes', '87 minutes', '93 minutes', '93 minutes', '93 minutes', '90 Minutes', '83 minutes', '96 minutes', '88 minutes', '89 minutes', '91 minutes', '93 minutes', '92 minutes', '97 minutes', '100 minutes', '100 minutes', '89 minutes', '91 minutes', '112 minutes', '115 minutes', '95 minutes', '91 min.', '95 minutes', '104 minutes', '74 minutes', '48 minutes', '77 minutes', '104 minutes', '128 minutes', '101 minutes', '94 minutes', '104 minutes', '90 minutes', '100 minutes', '88 minutes', '93 minutes', '98 minutes', '112 minutes', '84 minutes', '98 minutes', '97 minutes', '114 minutes', '96 minutes', '100 minutes', '109 minutes', '83 minutes', '90 minutes', '107 minutes', '96 minutes', '103 minutes', '91 min', '95 minutes', '105 minutes', '113 minutes', '80 minutes', '101 minutes', '89 minutes', '74 minutes', '90 minutes', '89 minutes', '110 minutes', '74 minutes', '93 minutes', '84 minutes', '83 minutes', '74 minutes', '77 minutes', '107 minutes', '93 minutes', '88 minutes', '108 minutes', '84 minutes', '121 minutes', '89 minutes', '104 minutes', '90 minutes', '86 minutes', '84 minutes', '108 minutes', '107 minutes', '96 minutes', '98 minutes', '105 minutes', '108 minutes', '94 minutes', '106 minutes', '102 minutes', '88 minutes', '102 minutes', '102 minutes', '97 minutes', '111 minutes', '100 minutes', '96 minutes', '98 minutes', '78 minutes', '81 minutes', '108 minutes', '89 minutes', '99 minutes', '89 minutes', '81 minutes', '92 minutes', '100 minutes', '89 minutes', '79 minutes', '91 minutes', '101 minutes', '104 minutes', '103 minutes', '86 minutes', '105 minutes', '93 minutes', '92 minutes', '98 minutes', '95 minutes', '93 minutes', '87 minutes', '93 minutes', '87 minutes', '128 minutes', '86 minutes', '95 minutes', '114 minutes', '93 minutes', '83 minutes', '83 minutes', '88 minutes', '78 minutes', '112 minutes', '92 minutes', '74 minutes', '78 minutes', '72 minutes', '82 minutes', '104 minutes', '113 minutes', '100 minutes', '78 minutes', '83 minutes', '96 minutes', '115 minutes', '86 minutes', '92 minutes', '99 minutes', '73 minutes', '128 minutes', '85 minutes', '88 minutes', '125 minutes', '96 minutes', '104 minutes', '95 minutes', '72 minutes', '75 minutes', '61 minutes', '117 minutes', '94 minutes', '100 minutes', '143 minutes', '97 minutes', '85 minutes', '86 minutes', '50 minutes', '74 minutes', '136 minutes', '89 minutes', '76 minutes', '40 minutes', '120 minutes', '84 minutes', '113 minutes', '115 minutes', '131 minutes', '100 minutes', '68 minutes', '95 minutes', '97 minutes', '101 minutes', '119 minutes', '100 minutes', '76 minutes', '120 minutes', '81 minutes', '143 minutes', '118 minutes', '40 minutes', '120 minutes', '99 minutes', '82 minutes', '117 minutes', '150 minutes', '104 minutes', '76 minutes', '92 minutes', '95 minutes', '94 minutes', '167 minutes', '111 minutes', '85 minutes', '82 minutes', '87 minutes', '110 minutes', '107 minutes', '124 minutes', '74 minutes', '83 minutes', '150 minutes', '97 minutes', '91 minutes', '100 minutes', '112 minutes', '93 minutes', '96 minutes', '99 minutes', ['76 minutes', '85 minutes', '(Extended edition)'], '98 minutes', '97 minutes', ['99 minutes (UK)', '90 minutes (U.S.)'], '96 minutes', 'N/A', '90 minutes', '101 minutes', '107 minutes', '101 minutes', '96 minutes', '88 minutes', '97 minutes', '108 minutes', ['104 minutes (Original cut)', '84 minutes (Disney cut)'], '116 minutes', '103 minutes', '109 minutes', '115 minutes', '74 minutes', '123 minutes', '108 minutes', '100 minutes', '101 minutes', '125 minutes', 'N/A', '90 minutes', '88 minutes', '109 minutes', '89 minutes', '104 minutes', '137 minutes', '106 minutes', '63 minutes', '103 minutes', '95 minutes', '132 minutes', '77 minutes', '96 minutes', '93 minutes', '104 minutes', '87 minutes', '101 minutes', '130 minutes', '77 minutes', '104 minutes', '149 minutes', '92 minutes', '102 minutes', '125 minutes', '107 minutes', '77 minutes', '124 minutes', '97 minutes', '84 minutes', '127 minutes', '81 minutes', '102 minutes', '124 minutes', '129 minutes', '106 minutes', '82 minutes', '130 minutes', '95 minutes', '154 minutes', '97 minutes', '117 minutes', '108 minutes', '106 minutes', '98 minutes', '113 minutes', '97 minutes', '118 minutes', '103 minutes', '124 minutes', '107 minutes', '161 minutes', '80 minutes', '129 minutes', '76 minutes', '129 minutes', '102 minutes', 'N/A', '162 minutes', '114 minutes', '105 minutes', '109 minutes', '118 minutes', '104 minutes', '99 minutes', '112 minutes', '131 minutes', '112 minutes', '76 minutes', '128 minutes', '100 minutes', '118 minutes', '119 minutes', '104 minutes', '100 minutes', '103 minutes', '114 minutes', '99 minutes', '102 minutes', '107 minutes', '78 minutes', '89 minutes', '95 minutes', '160 minutes', '85 minutes', '100 minutes', '95 minutes', '115 minutes', '113 minutes', '119 minutes', '100 minutes', '121 minutes', '95 minutes', '107 minutes', '134 minutes', '95 minutes', '127 minutes', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '96 minutes', 'N/A', 'N/A', '85 minutes', 'N/A', 'N/A', '83 minutes', '86 minutes', '108 minutes', '102 minutes', '81 minutes', '70 minutes', '90 minutes', '91 minutes', '93 minutes', '78 minutes', 'N/A', '83 minutes']

In [26]:
def minutes_to_integer(running_time):
    if running_time == "N/A": # this is simply handlign the N/As
        return None
    
    if isinstance(running_time, list): # this one checks if its a list (isinstance seems quite useful)
        return int(running_time[0].split(" ")[0])
    else: # is a string then spliting by whitespace and grabbign the first index
        return int(running_time.split(" ")[0])

In [32]:
minutes_to_integer(["67 minutes", "Hola"])

67

In [29]:
# now to ad a new key value to the json

for movie in movie_info_list:
    movie['Running time (int)'] = minutes_to_integer(movie.get('Running time', "N/A"))

In [33]:
movie_info_list[-10]

{'title': 'The Rocketeer',
 'Directed by': 'Joe Johnston',
 'Screenplay by': ['Danny Bilson', 'Paul De Meo'],
 'Story by': ['Danny Bilson', 'Paul De Meo', 'William Dear'],
 'Based on': ['The Rocketeer', 'by', 'Dave Stevens'],
 'Produced by': ['Charles Gordon', 'Lawrence Gordon', 'Lloyd Levin'],
 'Starring': ['Bill Campbell',
  'Alan Arkin',
  'Jennifer Connelly',
  'Paul Sorvino',
  'Timothy Dalton'],
 'Cinematography': 'Hiro Narita',
 'Edited by': ['Michael A. Stevenson', 'Arthur Schmidt'],
 'Music by': 'James Horner',
 'Production companies': ['Walt Disney Pictures',
  'Touchstone Pictures',
  'Silver Screen Partners IV',
  'Gordon Company'],
 'Distributed by': 'Buena Vista Pictures Distribution',
 'Release date': ['June 21, 1991 ( 1991-06-21 )'],
 'Running time': '108 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$35-40 million',
 'Box office': '$46.7 million (USA)',
 'Running time (int)': 108}

#### Let's fix the Budget Value now

In [34]:
print([movie.get('Budget', 'N/A') for movie in movie_info_list])

['N/A', '$1.49 million', '$2.6 million', '$2.28 million', '$600,000', '$950,000', '$858,000', 'N/A', '$788,000', 'N/A', '$1.35 million', '$2.125 million', 'N/A', '$1.5 million', '$1.5 million', 'N/A', '$2.2 million', '$1,800,000', '$3 million', 'N/A', '$4 million', '$2 million', '$300,000', '$1.8 million', 'N/A', '$5 million', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$700,000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$6 million', 'under $1 million or $1,250,000', 'N/A', '$2 million', 'N/A', 'N/A', '$2.5 million', 'N/A', 'N/A', '$4 million', '$3.6 million', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', '$4.4–6 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', '$6.3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$8 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'AU$1 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', '$7.5 million', 'N/A', '$10 million', 'N/A', 'N/A', '$3.5 to 4 million', 'N/A', 'N/A', 'N/A', '$5.25 million', '$20 million', 'N/A', '$9 million', 'N/A', '$6-8 million', '$20 million', 'N/A', 'N/A', '$18 million', '$12 million', '$14 million', 'N/A', 'US$ 17 million', '$5 million', 'unknown', '$20 million', '$11 million', '$28 million', '$44 million', 'N/A', 'N/A', '$14 million', '$9 million', 'N/A', 'A$8.7 million', '$31 million', '$18 million', '$5 million', '$40 million', '$20 million', 'N/A', '$14 million', '60 million Norwegian Kroner (around $8.7 million in 1989)', 'N/A', '$35-40 million', '$25 million', '$15 million', '$40 million', '$14 million', '$28 million', '$12 million', 'N/A', 'N/A', '$6.5 million', '$28 million', '$17 million', '$30 million', 'N/A', '$13 million', 'N/A', 'N/A', '$45 million', '$31 million', 'N/A', '$22 million', '$30 million', 'N/A', '$22 million', ['$32 million', '(estimated)'], '$18 million', '$55 million', '$24 million', '$15 million', '$12 million', 'N/A', '$30 million', 'N/A', '$31 million', 'N/A', '$38 million', '$70 million', '$15 million', 'N/A', '$67 million', 'N/A', '$32 million', '$85 million', '$55 million', '$3 million', '$16 million', '$80 million', '$30 million', '$24 million', '$90 million', '$15 million', '$30 million', '$120 million', '$90 million', '$65 million', '$5 million', 'N/A', '$130 million', '$75–90 million', '$10 million', '$90 million', '$80–$85 million', '$15 million –$30 million', '$4,000,000 (estimated)', '$127.5 million', '$65 million', '$30 million', '$85 million', '$100 million', '$23 million', '$90–120 million', '$26 million', '$25 million', '$115 million', '$33 million', '$20 million', '$22 million', '$80 million', '$35 million', '¥ 1.9–2 billion (US$15–19.2 million)', '$15 million', '$65 million', '$140 million', '$20 million', '$46 million', '$13 million', '$20 million', '$17 million', '$94 million', '$140 million', '$26 million', '$46 million', '$90 million', 'N/A', '$10 million', '$28 million', '$15 million', '$110 million', 'N/A', '$110 million', 'N/A', '$45 million', '$92 million', '$100 million', 'N/A', '$20 million', '$56 million', '$25 million', '$50 million', ['¥', '2.4 billion', 'US$24 million'], '$35 million', '$35 million', '$25 million', '$150 million', '$180 million', '$30 million', '$1 million', '$40 million', '$50 million', '$80 million', '$120 million', '$225 million', '$30 million', '$24 million', '$12 million', '$20–25 million', '$150 million', '$300 million', '$150 million', 'N/A', '$25 million', 'N/A', '$22 million', '$85 million', '$130 million', '$7 million', '$25 million', '$225 million', '$180 million', '$20 million', 'N/A', '$11 million', 'N/A', '$150 million', '$80 million', 'N/A', '$50 million', '$30 million', '$47 million', '$175 million', 'N/A', '$150 million', ['¥', '3.4 billion', '(', 'US$', '34 million)'], 'N/A', '$8 million ( ₽ 350 million)', '$175-200 million', '$35 million', '$105 million', '$150 –$200 million', '$80 million', '$150–200 million', '$200 million', '$150 million', '$22 million', 'N/A', '$35 million', 'N/A', '$260 million', 'N/A', '$170 million', '₹ 27 crore (US$3.8 million)', 'N/A', '$150 million', 'N/A', '$5 million', '$8 million', ['$410.6 million (gross)', '$378.5 million (net)'], '$200 million', '$30 million', '$45 million', '$23 million', ['$306.6 million (gross)', '$263.7 million (net)'], '$5 million', 'N/A', '$185 million', '$25 million', '$39 million', '$165 million', '$200–215 million', 'N/A', '$200 million', '$225–250 million', '$50 million', '$150 million', '$35 million', '$51 million', '$5 million', '$25 million', '$180–263 million', '$50 million', '₹ 230 million (US$3.2 million)', '$28 million', '$165 million', '$50 million', '$17 million', '$84.21-95 million', '$5–10 million', '$180–190 million', '$175 million', '₹65 crore', '$175–200 million', '$70–80 million', '$150 million', '$175–177 million', 'N/A', '$170 million', '$175–200 million', '$140 million', '$65 million', '$15 million', '$150–175 million', '₹ 70 crore', '$8 million', '$160–255 million', '$5–10 million', '$230–320 million', '$175 million', 'N/A', ['₹', '131\xa0crore'], ['~$8 million', '₽', '370 million'], '$175–225 million', '$100–130 million', '$200 million', '$65-70 million', '$120–133 million', '$175 million', '$130 million', '$170 million', 'N/A', '$183 million', '$200 million', '$250–260 million', '$185 million', '$60 million', 'N/A', '$150 million', '$40 million', '$42 million', '$175  million', 'N/A', 'N/A', 'N/A', '$125 million', '$12.5 million (stage production)', 'N/A', '$24 million', 'N/A', '$200 million', 'N/A', 'N/A', '$150 million+', '₽ 650 million', 'N/A', '$100 million+', '$100 million', 'N/A', '$200 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$28 million', '$53.4 million', 'N/A', '$80 million', 'N/A', 'N/A', '$1.49 million', '$90 million', '$35-40 million', '$11 million', '$28 million', '$858,000', '$9 million', '$70 million', '$85 million', '$75–90 million', 'N/A', '$5 million']

In [160]:
import re

amounts = r"thousand|million|billion"
number = r"\d+(,\d{3})*\.*\d*"

word_re = rf"\${number}(-|\sto\s|–)?({number})?\s({amounts})"
value_re = rf"\${number}"

def word_to_value(word):
    value_dict = {"thousand": 1000, "million": 1000000, "billion": 1000000000}
    return value_dict[word]

def parse_word_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",",""))
    word = re.search(amounts, string, flags=re.I).group().lower()
    word_value = word_to_value(word)
    return value*word_value

def parse_value_syntax(string):
    value_string = re.search(number, string).group()
    value = float(value_string.replace(",",""))
    return value

def money_conversion(money):

    if money == "N/A":
        return None
    
    if isinstance(money, list):
        money = money[0]
    
    word_syntax = re.search(word_re, money, flags=re.I)
    value_syntax = re.search(value_re, money)

    if word_syntax:
        return parse_word_syntax(word_syntax.group())

    elif value_syntax:
        return parse_value_syntax(value_syntax.group()) 
    
    else:
        return None

In [161]:
# now to ad a new key value to the json

for movie in movie_info_list:
    movie['Budget (float)'] = money_conversion(movie.get('Budget', "N/A"))
    movie['Box office (float)'] = money_conversion(movie.get('Box office', "N/A"))

In [61]:
movie_info_list.index('title': 'Beauty and the Beast')

SyntaxError: invalid syntax (<ipython-input-61-8738ac90232d>, line 1)

In [62]:
print([movie.get('title', 'Beauty and the Beast') for movie in movie_info_list])

['Academy Award Review of Walt Disney Cartoons', 'Snow White and the Seven Dwarfs', 'Pinocchio', 'Fantasia', 'The Reluctant Dragon', 'Dumbo', 'Bambi', 'Saludos Amigos', 'Victory Through Air Power', 'The Three Caballeros', 'Make Mine Music', 'Song of the South', 'Fun and Fancy Free', 'Melody Time', 'So Dear to My Heart', 'The Adventures of Ichabod and Mr. Toad', 'Cinderella', 'Treasure Island', 'Alice in Wonderland', 'The Story of Robin Hood', 'Peter Pan', 'The Sword and the Rose', 'The Living Desert', 'Rob Roy: The Highland Rogue', 'The Vanishing Prairie', '20,000 Leagues Under the Sea', 'Davy Crockett: King of the Wild Frontier', 'Lady and the Tramp', 'The African Lion', 'The Littlest Outlaw', 'The Great Locomotive Chase', 'Davy Crockett and the River Pirates', 'Secrets of Life', 'Westward Ho the Wagons!', 'Johnny Tremain', 'Perri', 'Old Yeller', 'The Light in the Forest', 'White Wilderness', 'Tonka', 'Sleeping Beauty', 'The Shaggy Dog', "Darby O'Gill and the Little People", 'Third Man on the Mountain', 'Toby Tyler or 10 Weeks with a Circus', 'Kidnapped', 'Pollyanna', 'Jungle Cat', 'Ten Who Dared', 'Swiss Family Robinson', 'One Hundred and One Dalmatians', 'The Absent-Minded Professor', 'The Parent Trap', 'Nikki: Wild Dog of the North', 'Greyfriars Bobby', 'Babes in Toyland', 'Moon Pilot', 'Bon Voyage!', 'Big Red', 'Almost Angels', 'The Legend of Lobo', 'In Search of the Castaways', 'Son of Flubber', 'Miracle of the White Stallions', 'Savage Sam', 'Summer Magic', 'The Incredible Journey', 'The Sword in the Stone', 'A Tiger Walks', 'The Misadventures of Merlin Jones', 'The Three Lives of Thomasina', 'The Moon-Spinners', 'Mary Poppins', 'Emil and the Detectives', 'Those Calloways', "The Monkey's Uncle", 'That Darn Cat!', 'The Ugly Dachshund', 'Lt. Robin Crusoe, U.S.N.', 'The Fighting Prince of Donegal', 'Follow Me, Boys!', 'Monkeys, Go Home!', 'The Adventures of Bullwhip Griffin', 'The Gnome-Mobile', 'The Jungle Book', 'Charlie, the Lonesome Cougar', 'The Happiest Millionaire', "Blackbeard's Ghost", 'The One and Only, Genuine, Original Family Band', 'Never a Dull Moment', 'The Horse in the Gray Flannel Suit', 'The Love Bug', 'Smith!', 'Rascal', 'The Computer Wore Tennis Shoes', 'King of the Grizzlies', 'The Boatniks', 'The Wild Country', 'The Aristocats', 'The Barefoot Executive', 'Scandalous John', 'The Million Dollar Duck', 'Bedknobs and Broomsticks', 'The Biscuit Eater', "Now You See Him, Now You Don't", 'Napoleon and Samantha', 'Run, Cougar, Run', 'Snowball Express', "The World's Greatest Athlete", 'Charley and the Angel', 'One Little Indian', 'Robin Hood', 'Superdad', 'Herbie Rides Again', 'The Bears and I', 'The Castaway Cowboy', 'The Island at the Top of the World', 'The Strongest Man in the World', 'Escape to Witch Mountain', 'The Apple Dumpling Gang', 'One of Our Dinosaurs is Missing', "The Best of Walt Disney's True-Life Adventures", 'Ride a Wild Pony', 'No Deposit, No Return', 'Treasure of Matecumbe', 'Gus', 'The Shaggy D.A.', 'Freaky Friday: The Movie', 'Escape from the Dark', 'The Many Adventures of Winnie the Pooh', 'A Tale of Two Critters', 'The Rescuers', 'Herbie Goes to Monte Carlo', "Pete's Dragon", 'Candleshoe', 'Return from Witch Mountain', 'The Cat from Outer Space', 'Hot Lead and Cold Feet', 'The North Avenue Irregulars', 'The Apple Dumpling Gang Rides Again', 'Unidentified Flying Oddball', 'The Black Hole', 'Midnight Madness', 'The Watcher in the Woods', 'Herbie Goes Bananas', "The Last Flight of Noah's Ark", 'Popeye', 'The Devil and Max Devlin', 'Amy', 'Dragonslayer', 'The Fox and the Hound', 'Condorman', 'Night Crossing', 'Tron', 'Tex', 'Trenchcoat', 'Something Wicked This Way Comes', 'Never Cry Wolf', 'Return to Oz', 'The Black Cauldron', 'The Journey of Natty Gann', 'One Magic Christmas', 'The Great Mouse Detective', 'Flight of the Navigator', 'Benji the Hunted', 'The Man from Snowy River II', 'Oliver & Company', 'Honey, I Shrunk the Kids', 'Cheetah', 'The Little Mermaid', 'DuckTales the Movie: Treasure of the Lost Lamp', 'The Rescuers Down Under', 'White Fang', 'Shipwrecked', "Wild Hearts Can't Be Broken", 'The Rocketeer', 'Beauty and the Beast', 'Newsies', 'Honey, I Blew Up the Kid', 'The Mighty Ducks', 'Aladdin', 'The Muppet Christmas Carol', 'Homeward Bound: The Incredible Journey', 'A Far Off Place', 'The Adventures of Huck Finn', 'Hocus Pocus', 'Cool Runnings', 'The Three Musketeers', 'Iron Will', 'Blank Check', 'D2: The Mighty Ducks', 'White Fang 2: Myth of the White Wolf', 'The Lion King', 'Angels in the Outfield', "Squanto: A Warrior's Tale", 'The Santa Clause', "Rudyard Kipling's The Jungle Book", 'Heavyweights', 'Man of the House', 'Tall Tale', 'A Goofy Movie', 'Pocahontas', 'Operation Dumbo Drop', "A Kid in King Arthur's Court", 'The Big Green', 'Frank and Ollie', 'Toy Story', 'Tom and Huck', 'Muppet Treasure Island', 'Homeward Bound II: Lost in San Francisco', 'James and the Giant Peach', 'The Hunchback of Notre Dame', 'First Kid', 'D3: The Mighty Ducks', '101 Dalmatians', 'That Darn Cat', 'Jungle 2 Jungle', 'Hercules', 'George of the Jungle', 'Air Bud', 'RocketMan', 'Flubber', 'Mr. Magoo', 'Meet the Deedles', 'Mulan', 'The Parent Trap', "I'll Be Home for Christmas", "A Bug's Life", 'Mighty Joe Young', 'My Favorite Martian', "Doug's 1st Movie", 'Endurance', 'Tarzan', 'Inspector Gadget', 'The Straight Story', 'Toy Story 2', 'Fantasia 2000', 'The Tigger Movie', "Whispers: An Elephant's Tale", 'Dinosaur', "Disney's The Kid", 'Remember the Titans', '102 Dalmatians', "The Emperor's New Groove", "Recess: School's Out", 'Atlantis: The Lost Empire', 'The Princess Diaries', "Max Keeble's Big Move", 'Monsters, Inc.', 'Snow Dogs', 'Return to Never Land', 'The Rookie', 'Lilo & Stitch', 'The Country Bears', 'Spirited Away', 'Tuck Everlasting', 'The Santa Clause 2', 'Treasure Planet', 'The Jungle Book 2', "Piglet's Big Movie", 'Ghosts of the Abyss', 'Holes', 'The Lizzie McGuire Movie', 'Finding Nemo', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Freaky Friday', 'Brother Bear', 'The Haunted Mansion', 'The Young Black Stallion', "Teacher's Pet", 'Miracle', 'Confessions of a Teenage Drama Queen', 'Home on the Range', 'Sacred Planet', 'Around the World in 80 Days', "America's Heart and Soul", 'The Princess Diaries 2: Royal Engagement', 'The Incredibles', 'National Treasure', 'Aliens of the Deep', "Pooh's Heffalump Movie", 'The Pacifier', 'Ice Princess', 'Herbie: Fully Loaded', "Howl's Moving Castle", 'Sky High', 'Valiant', 'The Greatest Game Ever Played', 'Chicken Little', 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe', 'Glory Road', 'Roving Mars', 'Eight Below', 'The Shaggy Dog', 'The Wild', 'Cars', "Pirates of the Caribbean: Dead Man's Chest", 'Invincible', 'The Nightmare Before Christmas', 'The Santa Clause 3: The Escape Clause', 'Bridge to Terabithia', 'Meet the Robinsons', "Pirates of the Caribbean: At World's End", 'Ratatouille', 'The Secret of the Magic Gourd', 'Underdog', 'The Pixar Story', 'The Game Plan', 'Enchanted', 'National Treasure: Book of Secrets', 'Hannah Montana and Miley Cyrus: Best of Both Worlds Concert', 'College Road Trip', 'The Chronicles of Narnia: Prince Caspian', 'WALL-E', 'Beverly Hills Chihuahua', 'Morning Light', 'High School Musical 3: Senior Year', 'Roadside Romeo', 'Bolt', 'Bedtime Stories', 'Jonas Brothers: The 3D Concert Experience', 'Race to Witch Mountain', 'Hannah Montana: The Movie', 'Earth', 'Up', 'Hexe Lilli: Der Drache und das magische Buch', 'G-Force', 'Ponyo', 'Walt & El Grupo', 'Книга Мастеров', 'A Christmas Carol', 'Old Dogs', 'The Princess and the Frog', 'Alice in Wonderland', 'Oceans', 'Prince of Persia: The Sands of Time', 'Toy Story 3', "The Sorcerer's Apprentice", 'Tales from Earthsea', 'The Crimson Wing: Mystery of the Flamingos', 'Secretariat', 'Do Dooni Chaar', 'Tangled', "The Boys: The Sherman Brothers' Story", 'Tron: Legacy', 'Anaganaga O Dheerudu', 'Lilly the Witch: The Journey to Mandolan', 'Mars Needs Moms', 'Zokkomon', 'African Cats', 'Prom', 'Pirates of the Caribbean: On Stranger Tides', 'Cars 2', 'Winnie the Pooh', 'The Muppets', 'Arrietty', 'John Carter', 'Chimpanzee', 'Arjun: The Warrior Prince', 'Brave', 'The Odd Life of Timothy Green', 'Frankenweenie', 'Wreck-It Ralph', 'Oz the Great and Powerful', 'Wings of Life', 'Monsters University', 'The Lone Ranger', 'Planes', 'Frozen', 'Saving Mr. Banks', 'Muppets Most Wanted', 'Bears', 'Million Dollar Arm', 'Maleficent', 'Planes: Fire & Rescue', 'Khoobsurat', 'Alexander and the Terrible, Horrible, No Good, Very Bad Day', 'Big Hero 6', 'Into the Woods', 'McFarland, USA', 'Cinderella', 'Monkey Kingdom', 'Tomorrowland', 'Inside Out', 'ABCD 2', 'The Good Dinosaur', 'The Finest Hours', 'Zootopia', 'The Jungle Book', 'Tini: The Movie', 'Alice Through the Looking Glass', 'Finding Dory', 'The BFG', "Pete's Dragon", 'Queen of Katwe', 'Moana', 'Dangal', 'March of the Penguins', 'Beauty and the Beast', 'Born in China', 'Pirates of the Caribbean: Dead Men Tell No Tales', 'Cars 3', 'Ghost of the Mountains', 'Jagga Jasoos', 'The Last Knight', 'Coco', 'A Wrinkle in Time', 'Incredibles 2', 'Christopher Robin', 'The Nutcracker and the Four Realms', 'Ralph Breaks the Internet', 'Mary Poppins Returns', 'Dumbo', 'Penguins', 'Aladdin', 'Toy Story 4', 'The Lion King', 'Maleficent: Mistress of Evil', 'Lady and the Tramp', 'Noelle', 'Frozen II', 'Togo', 'Timmy Failure: Mistakes Were Made', 'Onward', 'Stargirl', 'Dolphin Reef', 'Elephant', 'Artemis Fowl', 'Hamilton', 'Black Is King', 'Magic Camp', 'The One and Only Ivan', 'Mulan', 'Godmothered', 'Safety', 'Soul', 'The Last Warrior: Root of Evil', 'Flora & Ulysses', 'Raya and the Last Dragon', 'Cruella', 'Luca', 'Jungle Cruise', 'Encanto', 'Turning Red', 'The Little Mermaid', 'Disenchanted', 'Peter Pan & Wendy', "Chip 'n Dale: Rescue Rangers", 'Hocus Pocus', 'Crater', 'Hollywood Stargirl', 'Lilo & Stitch', 'Pinocchio', 'Shrunk', 'Snow White and the Seven Dwarfs', 'The Haunted Mansion', 'The Rocketeer', 'Three Men and a Baby', 'Alexander and the Terrible, Horrible, No Good, Very Bad Day', 'Bambi', 'Flight of the Navigator', 'The Hunchback of Notre Dame', 'Hercules', 'Inspector Gadget', 'Once on This Island', 'Robin Hood']

In [75]:
movie_info_list[-68]

{'title': 'Beauty and the Beast',
 'Directed by': 'Bill Condon',
 'Screenplay by': ['Stephen Chbosky', 'Evan Spiliotopoulos'],
 'Based on': ["Disney 's Beauty and the Beast by Linda Woolverton",
  'Beauty and the Beast by Jeanne-Marie Leprince de Beaumont'],
 'Produced by': ['David Hoberman', 'Todd Lieberman'],
 'Starring': ['Emma Watson',
  'Dan Stevens',
  'Luke Evans',
  'Kevin Kline',
  'Josh Gad',
  'Ewan McGregor',
  'Stanley Tucci',
  'Audra McDonald',
  'Gugu Mbatha-Raw',
  'Ian McKellen',
  'Emma Thompson'],
 'Cinematography': 'Tobias A. Schliessler',
 'Edited by': 'Virginia Katz',
 'Music by': 'Alan Menken',
 'Production companies': ['Walt Disney Pictures', 'Mandeville Films'],
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Release date': ['February 23, 2017 ( 2017-02-23 ) ( Spencer House )',
  'March 17, 2017 ( 2017-03-17 ) (United States)'],
 'Running time': '129 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$160–255 million',
 'Box office': '$1.264 billion',
 'Running time (int)': 129,
 'Budget (float)': 160.0,
 'Box office (float)': 1264000000.0}

In [159]:
money_conversion(movie_info_list[-68]['Budget'])

160000000.0

#### Convert dates to datetimes

In [163]:
from datetime import datetime
    
dates = [movie.get('Release date', 'N/A') for movie in movie_info_list]

def clean_date(date):
    return date.split("(")[0].strip()

def date_conversion(date):
    if isinstance(date, list):
        date = date[0]
        
    if date == "N/A":
        return None
    
    date_str = clean_date(date)
    fmts = ["%B %d, %Y", "%d %B %Y"]
    for fmt in fmts:
        try:
            return datetime.strptime(date_str, fmt)
        except:
            pass
    return None
    
for date in dates:
    print(date_conversion(date))
    print()

1937-05-19 00:00:00

1937-12-21 00:00:00

1940-02-07 00:00:00

1940-11-13 00:00:00

1941-06-27 00:00:00

1941-10-23 00:00:00

1942-08-09 00:00:00

1942-08-24 00:00:00

1943-07-17 00:00:00

1944-12-21 00:00:00

1946-04-20 00:00:00

1946-11-12 00:00:00

1947-09-27 00:00:00

1948-05-27 00:00:00

1948-11-29 00:00:00

1949-10-05 00:00:00

1950-02-15 00:00:00

1950-06-22 00:00:00

1951-07-26 00:00:00

1952-03-13 00:00:00

1953-02-05 00:00:00

1953-07-23 00:00:00

1953-11-10 00:00:00

1953-10-26 00:00:00

1954-08-17 00:00:00

1954-12-23 00:00:00

1955-05-25 00:00:00

1955-06-22 00:00:00

1955-09-14 00:00:00

1955-12-22 00:00:00

1956-06-08 00:00:00

1956-07-18 00:00:00

1956-09-04 00:00:00

1956-12-20 00:00:00

1957-06-19 00:00:00

1957-08-28 00:00:00

1957-12-25 00:00:00

1958-07-08 00:00:00

1958-08-12 00:00:00

1958-12-25 00:00:00

1959-01-29 00:00:00

1959-03-19 00:00:00

1959-06-24 00:00:00

1959-11-10 00:00:00

1960-01-21 00:00:00

1960-02-24 00:00:00

1960-05-19 00:00:00

None

1960-11-01 00:00:00

1960-12-21 00:00:00

1961-01-25 00:00:00

1961-03-16 00:00:00

1961-06-21 00:00:00

1961-07-12 00:00:00

1961-07-17 00:00:00

1961-12-14 00:00:00

1962-04-05 00:00:00

1962-05-17 00:00:00

1962-06-06 00:00:00

1962-09-26 00:00:00

1962-11-07 00:00:00

1962-11-14 00:00:00

1963-01-16 00:00:00

1963-03-29 00:00:00

1963-06-01 00:00:00

1963-07-07 00:00:00

1963-11-20 00:00:00

1963-12-25 00:00:00

1964-03-12 00:00:00

1964-02-11 00:00:00

1963-12-11 00:00:00

1964-07-02 00:00:00

1964-08-27 00:00:00

1964-12-18 00:00:00

1965-01-28 00:00:00

1965-08-18 00:00:00

1965-12-02 00:00:00

1966-02-04 00:00:00

1966-06-25 00:00:00

1966-10-01 00:00:00

1966-12-01 00:00:00

1967-02-08 00:00:00

1967-06-15 00:00:00

1967-07-12 00:00:00

1967-10-18 00:00:00

1967-10-19 00:00:00

1967-06-23 00:00:00

1968-02-08 00:00:00

1968-03-21 00:00:00

1968-06-26 00:00:00

1968-12-03 00:00:00

1968-12-24 00:00:00

1969-05-09 00:00:00

1969-09-04 00:00:00

1969-11-28 00:00:00

1970-02-11 00:00:00

1970-07-01 00:00:00

1970-12-15 00:00:00

1970-12-11 00:00:00

1971-03-17 00:00:00

1971-06-22 00:00:00

1971-06-30 00:00:00

1971-10-07 00:00:00

1972-03-22 00:00:00

1972-07-12 00:00:00

1972-07-05 00:00:00

1972-10-18 00:00:00

1972-12-22 00:00:00

1973-02-01 00:00:00

1973-03-23 00:00:00

1973-06-20 00:00:00

1973-11-08 00:00:00

1973-12-14 00:00:00

1974-06-06 00:00:00

1974-07-31 00:00:00

1974-08-01 00:00:00

1974-12-20 00:00:00

1975-02-06 00:00:00

1975-03-21 00:00:00

1975-07-01 00:00:00

1975-07-09 00:00:00

1975-10-08 00:00:00

1975-12-25 00:00:00

1976-02-11 00:00:00

1976-07-01 00:00:00

1976-07-07 00:00:00

1976-12-16 00:00:00

1976-12-17 00:00:00

1976-05-26 00:00:00

1977-03-11 00:00:00

1977-06-20 00:00:00

1977-06-22 00:00:00

1977-06-24 00:00:00

1977-11-03 00:00:00

1977-12-16 00:00:00

1978-03-10 00:00:00

1978-06-30 00:00:00

1978-07-05 00:00:00

1979-02-09 00:00:00

1979-06-27 00:00:00

1979-07-19 00:00:00

1979-12-18 00:00:00

1980-02-08 00:00:00

1980-04-17 00:00:00

1980-06-27 00:00:00

1980-07-09 00:00:00

1980-12-06 00:00:00

1981-02-11 00:00:00

1981-03-20 00:00:00

1981-06-26 00:00:00

1981-07-10 00:00:00

1981-08-07 00:00:00

1982-02-05 00:00:00

1982-07-09 00:00:00

1982-07-30 00:00:00

1983-03-11 00:00:00

1983-04-29 00:00:00

1983-10-07 00:00:00

1985-06-21 00:00:00

1985-07-24 00:00:00

1985-09-27 00:00:00

1985-11-22 00:00:00

1986-07-02 00:00:00

1986-08-01 00:00:00

1987-06-05 00:00:00

1988-03-24 00:00:00

1988-11-18 00:00:00

1989-06-23 00:00:00

1989-08-18 00:00:00

1989-11-17 00:00:00

1990-08-03 00:00:00

1990-11-16 00:00:00

1991-01-18 00:00:00

1990-10-03 00:00:00

1991-05-24 00:00:00

1991-06-21 00:00:00

1991-09-29 00:00:00

1992-04-10 00:00:00

1992-07-17 00:00:00

1992-10-02 00:00:00

1992-11-25 00:00:00

1992-12-11 00:00:00

1993-02-03 00:00:00

1993-03-12 00:00:00

1993-04-02 00:00:00

1993-07-16 00:00:00

1993-10-01 00:00:00

1993-11-12 00:00:00

1994-01-14 00:00:00

1994-02-11 00:00:00

1994-04-17 00:00:00

1994-04-14 00:00:00

1994-06-15 00:00:00

1994-07-15 00:00:00

1994-10-28 00:00:00

1994-11-11 00:00:00

1994-12-25 00:00:00

1995-02-17 00:00:00

1995-03-03 00:00:00

1995-03-24 00:00:00

1995-04-07 00:00:00

1995-06-10 00:00:00

1995-07-28 00:00:00

1995-08-11 00:00:00

1995-09-28 00:00:00

1995-01-22 00:00:00

1995-11-19 00:00:00

1995-12-22 00:00:00

1996-02-16 00:00:00

1996-03-08 00:00:00

1996-04-12 00:00:00

1996-06-21 00:00:00

1996-08-30 00:00:00

1996-10-04 00:00:00

1996-11-27 00:00:00

1997-02-14 00:00:00

1997-03-07 00:00:00

1997-06-13 00:00:00

1997-07-16 00:00:00

1997-08-01 00:00:00

1997-10-10 00:00:00

1997-11-16 00:00:00

1997-12-25 00:00:00

1998-03-27 00:00:00

1998-06-19 00:00:00

1998-07-29 00:00:00

1998-11-13 00:00:00

1998-11-20 00:00:00

1998-12-25 00:00:00

1999-02-12 00:00:00

1999-03-26 00:00:00

1999-05-14 00:00:00

1999-06-12 00:00:00

1999-07-23 00:00:00

None

1999-11-13 00:00:00

1999-12-17 00:00:00

2000-02-11 00:00:00

2000-03-10 00:00:00

2000-05-19 00:00:00

2000-07-07 00:00:00

2000-09-29 00:00:00

2000-11-22 00:00:00

2000-12-15 00:00:00

2001-02-10 00:00:00

2001-06-03 00:00:00

2001-07-29 00:00:00

2001-10-05 00:00:00

2001-10-28 00:00:00

2002-01-18 00:00:00

2002-02-10 00:00:00

2002-03-29 00:00:00

2002-06-21 00:00:00

2002-07-21 00:00:00

2001-07-20 00:00:00

2002-10-11 00:00:00

2002-11-01 00:00:00

2002-11-27 00:00:00

2003-02-14 00:00:00

2003-03-16 00:00:00

2003-03-31 00:00:00

2003-04-18 00:00:00

2003-05-02 00:00:00

2003-05-30 00:00:00

2003-06-28 00:00:00

2003-08-04 00:00:00

2003-11-01 00:00:00

2003-11-26 00:00:00

2003-12-25 00:00:00

2004-01-16 00:00:00

2004-02-20 00:00:00

2004-02-17 00:00:00

2004-04-02 00:00:00

2004-04-22 00:00:00

2004-06-16 00:00:00

2004-07-02 00:00:00

2004-08-11 00:00:00

2004-10-24 00:00:00

2004-11-19 00:00:00

2005-01-28 00:00:00

2005-02-11 00:00:00

2005-03-04 00:00:00

2005-03-18 00:00:00

2005-06-22 00:00:00

2004-09-05 00:00:00

2005-07-29 00:00:00

2005-03-25 00:00:00

2005-09-30 00:00:00

2005-10-30 00:00:00

2005-12-07 00:00:00

2006-01-13 00:00:00

2006-01-27 00:00:00

2006-02-17 00:00:00

2006-03-10 00:00:00

2006-04-14 00:00:00

2006-05-26 00:00:00

2006-06-24 00:00:00

2006-08-25 00:00:00

1993-10-29 00:00:00

2006-11-03 00:00:00

2007-02-16 00:00:00

2007-03-23 00:00:00

2007-05-19 00:00:00

2007-06-22 00:00:00

2007-06-29 00:00:00

2007-08-03 00:00:00

2007-08-28 00:00:00

2007-09-23 00:00:00

2007-10-20 00:00:00

2007-12-21 00:00:00

2008-02-01 00:00:00

2008-03-07 00:00:00

2008-05-07 00:00:00

2008-06-23 00:00:00

2008-10-03 00:00:00

2008-10-17 00:00:00

2008-10-17 00:00:00

2008-10-23 00:00:00

2008-11-21 00:00:00

2008-12-25 00:00:00

2009-02-27 00:00:00

2009-03-11 00:00:00

2009-04-10 00:00:00

2007-10-10 00:00:00

2009-05-29 00:00:00

None

2009-07-24 00:00:00

2008-07-19 00:00:00

None

2009-10-29 00:00:00

2009-11-03 00:00:00

2009-11-25 00:00:00

2009-11-25 00:00:00

2010-02-25 00:00:00

2009-10-17 00:00:00

2010-05-09 00:00:00

2010-06-12 00:00:00

2010-07-08 00:00:00

2006-07-29 00:00:00

2008-10-26 00:00:00

2010-09-30 00:00:00

2010-10-08 00:00:00

2010-11-14 00:00:00

2009-04-24 00:00:00

2010-11-30 00:00:00

2011-01-14 00:00:00

2011-02-17 00:00:00

2011-03-11 00:00:00

2011-04-22 00:00:00

2011-04-22 00:00:00

2011-04-29 00:00:00

2011-05-07 00:00:00

2011-06-18 00:00:00

2011-04-06 00:00:00

2011-11-04 00:00:00

2010-07-17 00:00:00

2012-02-22 00:00:00

2012-04-20 00:00:00

2012-05-25 00:00:00

2012-06-10 00:00:00

2012-08-15 00:00:00

2012-09-20 00:00:00

2012-10-29 00:00:00

2013-02-14 00:00:00

2011-03-16 00:00:00

2013-06-05 00:00:00

2013-06-22 00:00:00

2013-08-02 00:00:00

2013-11-19 00:00:00

2013-10-20 00:00:00

2014-03-11 00:00:00

2014-04-18 00:00:00

2014-05-06 00:00:00

2014-05-28 00:00:00

2014-07-15 00:00:00

2014-09-19 00:00:00

2014-10-06 00:00:00

2014-10-23 00:00:00

2014-12-08 00:00:00

2015-02-09 00:00:00

2015-02-13 00:00:00

2015-04-17 00:00:00

2015-05-09 00:00:00

2015-05-18 00:00:00

2015-06-19 00:00:00

2015-11-10 00:00:00

2016-01-25 00:00:00

2016-02-13 00:00:00

2016-04-04 00:00:00

2016-04-23 00:00:00

2016-05-10 00:00:00

2016-06-08 00:00:00

2016-05-14 00:00:00

2016-08-08 00:00:00

2016-09-10 00:00:00

2016-11-14 00:00:00

2016-12-21 00:00:00

2005-01-26 00:00:00

2017-02-23 00:00:00

2016-08-12 00:00:00

2017-05-11 00:00:00

2017-05-23 00:00:00

2017-06-30 00:00:00

2017-07-14 00:00:00

2017-10-29 00:00:00

2017-10-20 00:00:00

2018-02-26 00:00:00

2018-06-05 00:00:00

2018-07-30 00:00:00

2018-10-29 00:00:00

2018-11-05 00:00:00

2018-11-29 00:00:00

2019-03-11 00:00:00

2019-04-17 00:00:00

2019-05-08 00:00:00

2019-06-11 00:00:00

2019-07-09 00:00:00

2019-10-18 00:00:00

2019-11-12 00:00:00

2019-11-12 00:00:00

2019-11-07 00:00:00

2019-12-20 00:00:00

2020-01-25 00:00:00

2020-02-21 00:00:00

2020-03-13 00:00:00

2018-03-28 00:00:00

2020-04-03 00:00:00

2020-06-12 00:00:00

2020-07-03 00:00:00

2020-07-31 00:00:00

2020-08-14 00:00:00

2020-08-21 00:00:00

2020-03-09 00:00:00

2020-12-04 00:00:00

2020-12-11 00:00:00

2020-10-11 00:00:00

2021-01-01 00:00:00

2021-02-19 00:00:00

2021-03-05 00:00:00

2021-05-18 00:00:00

2021-06-13 00:00:00

2021-07-24 00:00:00

2021-11-24 00:00:00

2022-03-11 00:00:00

2023-05-26 00:00:00

None

None

None

1993-07-16 00:00:00

None

None

2002-06-21 00:00:00

None

None

1937-12-21 00:00:00

2003-11-26 00:00:00

1991-06-21 00:00:00

1987-11-25 00:00:00

2014-10-06 00:00:00

1942-08-09 00:00:00

1986-08-01 00:00:00

1996-06-21 00:00:00

1997-06-13 00:00:00

1999-07-23 00:00:00

None

1973-11-08 00:00:00

In [166]:
for movie in movie_info_list:
    movie['Release date (datetime)'] = date_conversion(movie.get('Release date', 'N/A'))

In [93]:
movie_info_list[50]

{'title': 'One Hundred and One Dalmatians',
 'Directed by': ['Clyde Geronimi', 'Hamilton Luske', 'Wolfgang Reitherman'],
 'Story by': 'Bill Peet',
 'Based on': ['The Hundred and One Dalmatians', 'by', 'Dodie Smith'],
 'Produced by': 'Walt Disney',
 'Starring': ['Rod Taylor',
  'Cate Bauer',
  'Betty Lou Gerson',
  'Ben Wright',
  'Bill Lee (singing voice)',
  'Lisa Davis',
  'Martha Wentworth'],
 'Edited by': ['Roy M. Brewer, Jr.', 'Donald Halliday'],
 'Music by': 'George Bruns',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['January 25, 1961 ( 1961-01-25 )'],
 'Running time': '79 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$3.6 million',
 'Box office': '$303 million',
 'Running time (int)': 79,
 'Budget (float)': 3600000.0,
 'Box office (float)': 303000000.0,
 'Release date (datetime)': datetime.datetime(1961, 1, 25, 0, 0)}

#### Since datetime object is not recognizable in json, let's use pickle to save it

In [168]:
import pickle

def save_data_pickle(name, data):
    with open(name, 'wb') as f:
        pickle.dump(data, f)

In [169]:
import pickle

def load_data_pickle(name):
    with open(name, 'rb') as f:
        return pickle.load(f)

In [170]:
save_data_pickle("disney_movie_data_more_cleaned.pickle", movie_info_list)

In [171]:
a = load_data_pickle("disney_movie_data_more_cleaned.pickle")

In [148]:
a[5]

{'title': 'Dumbo',
 'Directed by': ['Ben Sharpsteen',
  'Norman Ferguson',
  'Wilfred Jackson',
  'Bill Roberts',
  'Jack Kinney',
  'Samuel Armstrong'],
 'Story by': ['Otto Englander', 'Joe Grant', 'Dick Huemer'],
 'Based on': ['Dumbo, the Flying Elephant',
  'by',
  'Helen Aberson',
  'Harold Pearl'],
 'Produced by': 'Walt Disney',
 'Starring': ['Edward Brophy',
  'Verna Felton',
  'Cliff Edwards',
  'Herman Bing',
  'Sterling Holloway',
  'Margaret Wright',
  'Hall Johnson Choir'],
 'Narrated by': 'John McLeish',
 'Music by': ['Frank Churchill', 'Oliver Wallace'],
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release date': ['October 23, 1941 ( 1941-10-23 ) (New York City)',
  'October 31, 1941 ( 1941-10-31 ) (U.S.)'],
 'Running time': '64 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$950,000',
 'Box office': '>$1.3 million (est. United States/Canada rentals, 1941)',
 'Running time (int)': 64,
 'Budget (float)': 950000.0,
 'Box office (float)': 1300000.0,
 'Release date (datetime)': datetime.datetime(1941, 10, 23, 0, 0),
 'imdb': '7.2',
 'metascore': '96',
 'rotten_tomatoes': '98%'}

In [172]:
a == movie_info_list

True

In [173]:
movie_info_list = load_data_pickle('disney_movie_data_more_cleaned.pickle')

### Atttach IMDB and Rotten Tomatoes/Metascore Score

In [151]:
# http://www.omdbapi.com/?apikey=[yourkey]&

In [175]:
import requests
import urllib
import os 

def get_omdb_info(title):
    base_url = "http://www.omdbapi.com/?" # a ? is added to indicate that we are starting parameters
    parameters = {"apikey": "your unique key would go here", 't': title} 
    params_encoded = urllib.parse.urlencode(parameters)
    full_url = base_url + params_encoded
    return requests.get(full_url).json()

def get_rotten_tomato_score(omdb_info):
    ratings = omdb_info.get('Ratings', []) # the comma denotes othersise which is an empty list, in this case
    for rating in ratings:
        # print(rating) - this would be to see every item under rating
        if rating['Source'] == 'Rotten Tomatoes':
            return rating ['Value']
    return None
    
info = get_omdb_info('into the woods')
get_rotten_tomato_score(info)

'71%'

In [176]:
lion_king = get_omdb_info('lion king')

In [177]:
for key in lion_king:
    print(key, ' : ', lion_king[key])

Title  :  The Lion King
Year  :  1994
Rated  :  G
Released  :  24 Jun 1994
Runtime  :  88 min
Genre  :  Animation, Adventure, Drama
Director  :  Roger Allers, Rob Minkoff
Writer  :  Irene Mecchi, Jonathan Roberts, Linda Woolverton
Actors  :  Matthew Broderick, Jeremy Irons, James Earl Jones
Plot  :  Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.
Language  :  English, Swahili, Xhosa, Zulu
Country  :  United States
Awards  :  Won 2 Oscars. 39 wins & 35 nominations total
Poster  :  https://m.media-amazon.com/images/M/MV5BYTYxNGMyZTYtMjE3MS00MzNjLWFjNmYtMDk3N2FmM2JiM2M1XkEyXkFqcGdeQXVyNjY5NDU4NzI@._V1_SX300.jpg
Ratings  :  [{'Source': 'Internet Movie Database', 'Value': '8.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '93%'}, {'Source': 'Metacritic', 'Value': '88/100'}]
Metascore  :  88
imdbRating  :  8.5
imdbVotes  :  981,398
imdbID  :  tt0110357
Type  :  movie
DVD  :  04 Oct 2011
BoxOffice  :  $422,783,777
Production  :  Walt Disney Pictures
Website  :  N/A
Response  :  True

In [178]:
lion_king.get('Type')

'movie'

In [179]:
lion_king.get('Ratings')

[{'Source': 'Internet Movie Database', 'Value': '8.5/10'},
 {'Source': 'Rotten Tomatoes', 'Value': '93%'},
 {'Source': 'Metacritic', 'Value': '88/100'}]

In [180]:
for movie in movie_info_list:
    title = movie['title']
    omdb_info = get_omdb_info(title)
    movie['imdb'] = omdb_info.get('imdbRating', None) # find key, otherwise None so that the loop doesn't break
    movie['metascore'] = omdb_info.get('Metascore', None)
    movie['rotten_tomatoes'] = get_rotten_tomato_score(omdb_info)

In [181]:
movie_info_list[-100]

{'title': 'The Lone Ranger',
 'Directed by': 'Gore Verbinski',
 'Screenplay by': ['Justin Haythe', 'Ted Elliott', 'Terry Rossio'],
 'Story by': ['Ted Elliott', 'Terry Rossio', 'Justin Haythe'],
 'Based on': ['Fran Striker', 'George W. Trendle'],
 'Produced by': ['Jerry Bruckheimer', 'Gore Verbinski'],
 'Starring': ['Johnny Depp',
  'Armie Hammer',
  'Tom Wilkinson',
  'William Fichtner',
  'Barry Pepper',
  'James Badge Dale',
  'Helena Bonham Carter'],
 'Cinematography': 'Bojan Bazelli',
 'Edited by': ['James Haygood', 'Craig Wood'],
 'Music by': 'Hans Zimmer',
 'Production companies': ['Walt Disney Pictures',
  'Jerry Bruckheimer Films',
  'Infinitum Nihil',
  'Blind Wink Productions'],
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Release date': ['June 22, 2013 ( 2013-06-22 ) ( Hyperion Theatre )',
  'July 3, 2013 ( 2013-07-03 ) (United States)'],
 'Running time': '149 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$225–250 million',
 'Box office': '$260.5 million',
 'Running time (int)': 149,
 'Budget (float)': 225000000.0,
 'Box office (float)': 260500000.0,
 'Release date (datetime)': datetime.datetime(2013, 6, 22, 0, 0),
 'imdb': '6.4',
 'metascore': '37',
 'rotten_tomatoes': '30%'}

In [182]:
save_data_pickle('disney_movie_data_final.pickle', movie_info_list)

### Save data as JSON and CSV

In [184]:
movie_info_list[50]

{'title': 'One Hundred and One Dalmatians',
 'Directed by': ['Clyde Geronimi', 'Hamilton Luske', 'Wolfgang Reitherman'],
 'Story by': 'Bill Peet',
 'Based on': ['The Hundred and One Dalmatians', 'by', 'Dodie Smith'],
 'Produced by': 'Walt Disney',
 'Starring': ['Rod Taylor',
  'Cate Bauer',
  'Betty Lou Gerson',
  'Ben Wright',
  'Bill Lee (singing voice)',
  'Lisa Davis',
  'Martha Wentworth'],
 'Edited by': ['Roy M. Brewer, Jr.', 'Donald Halliday'],
 'Music by': 'George Bruns',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['January 25, 1961 ( 1961-01-25 )'],
 'Running time': '79 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$3.6 million',
 'Box office': '$303 million',
 'Running time (int)': 79,
 'Budget (float)': 3600000.0,
 'Box office (float)': 303000000.0,
 'Release date (datetime)': datetime.datetime(1961, 1, 25, 0, 0),
 'imdb': '7.3',
 'metascore': '83',
 'rotten_tomatoes': '98%'}

In [187]:
movie_info_copy = [movie.copy() for movie in movie_info_list] # making a copy

In [188]:
movie_info_copy[50]

{'title': 'One Hundred and One Dalmatians',
 'Directed by': ['Clyde Geronimi', 'Hamilton Luske', 'Wolfgang Reitherman'],
 'Story by': 'Bill Peet',
 'Based on': ['The Hundred and One Dalmatians', 'by', 'Dodie Smith'],
 'Produced by': 'Walt Disney',
 'Starring': ['Rod Taylor',
  'Cate Bauer',
  'Betty Lou Gerson',
  'Ben Wright',
  'Bill Lee (singing voice)',
  'Lisa Davis',
  'Martha Wentworth'],
 'Edited by': ['Roy M. Brewer, Jr.', 'Donald Halliday'],
 'Music by': 'George Bruns',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['January 25, 1961 ( 1961-01-25 )'],
 'Running time': '79 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$3.6 million',
 'Box office': '$303 million',
 'Running time (int)': 79,
 'Budget (float)': 3600000.0,
 'Box office (float)': 303000000.0,
 'Release date (datetime)': datetime.datetime(1961, 1, 25, 0, 0),
 'imdb': '7.3',
 'metascore': '83',
 'rotten_tomatoes': '98%'}

#### Make the datetime object serialized so that it can be stored in a JSON

In [189]:
for movie in movie_info_copy:
    current_date = movie['Release date (datetime)']
    if current_date:
        movie['Release date (datetime)'] = current_date.strftime("%B %d, %Y")
    else:
        movie['Release date (datetime)'] = None

In [190]:
movie_info_copy[50]

{'title': 'One Hundred and One Dalmatians',
 'Directed by': ['Clyde Geronimi', 'Hamilton Luske', 'Wolfgang Reitherman'],
 'Story by': 'Bill Peet',
 'Based on': ['The Hundred and One Dalmatians', 'by', 'Dodie Smith'],
 'Produced by': 'Walt Disney',
 'Starring': ['Rod Taylor',
  'Cate Bauer',
  'Betty Lou Gerson',
  'Ben Wright',
  'Bill Lee (singing voice)',
  'Lisa Davis',
  'Martha Wentworth'],
 'Edited by': ['Roy M. Brewer, Jr.', 'Donald Halliday'],
 'Music by': 'George Bruns',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['January 25, 1961 ( 1961-01-25 )'],
 'Running time': '79 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$3.6 million',
 'Box office': '$303 million',
 'Running time (int)': 79,
 'Budget (float)': 3600000.0,
 'Box office (float)': 303000000.0,
 'Release date (datetime)': 'January 25, 1961',
 'imdb': '7.3',
 'metascore': '83',
 'rotten_tomatoes': '98%'}

In [193]:
save_data("disney_data_final.json", movie_info_copy)

#### Convert and save onto a CSV

In [198]:
import pandas as pd

df = pd.DataFrame(movie_info_list)

In [200]:
df.head(20)

,title,Production company,Release date,Running time,Country,Language,Box office,Running time (int),Budget (float),Box office (float),...,Adaptation by,Animation by,Traditional,Simplified,Music,Lyrics,Book,Basis,Productions,Awards
0,Academy Award Review of Walt Disney Cartoons,Walt Disney Productions,"[May 19, 1937 ( 1937-05-19 )]",41 minutes (74 minutes 1966 release),United States,English,$45.472,41.0,NaN,4.547200e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,Walt Disney Productions,"[December 21, 1937 ( 1937-12-21 ) ( Carthay Ci...",83 minutes,United States,English,$418 million,83.0,1490000.0,4.180000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pinocchio,Walt Disney Productions,"[February 7, 1940 ( 1940-02-07 ) ( Center Thea...",88 minutes,United States,English,$164 million,88.0,2600000.0,1.640000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fantasia,Walt Disney Productions,"[November 13, 1940 ( 1940-11-13 )]",126 minutes,United States,English,$76.4–$83.3 million (United States and Canada),126.0,2280000.0,8.330000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Reluctant Dragon,Walt Disney Productions,"[June 27, 1941 ( 1941-06-27 )]",74 minutes,United States,English,"$960,000 (worldwide rentals)",74.0,600000.0,9.600000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Dumbo,Walt Disney Productions,"[October 23, 1941 ( 1941-10-23 ) (New York Cit...",64 minutes,United States,English,>$1.3 million (est. United States/Canada renta...,64.0,950000.0,1.300000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bambi,Walt Disney Productions,"[August 9, 1942 ( 1942-08-09 ) (World Premiere...",70 minutes,United States,English,$267.4 million,70.0,858000.0,2.674000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Saludos Amigos,Walt Disney Productions,"[August 24, 1942 ( 1942-08-24 ) (World Premier...",42 minutes,United States,NaN,$1.135 million (worldwide rentals),42.0,NaN,1.135000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Victory Through Air Power,Walt Disney Productions,"[July 17, 1943 ( 1943-07-17 )]",70 min,United States,English,"$799,000",70.0,788000.0,7.990000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,The Three Caballeros,Walt Disney Productions,"[December 21, 1944 ( 1944-12-21 ) (Mexico City...",71 minutes,United States,NaN,$3.355 million (worldwide rentals),71.0,NaN,3.355000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Make Mine Music,Walt Disney Productions,"[April 20, 1946 ( 1946-04-20 ) (New York City ...",75 minutes,United States,English,$3.275 million (worldwide rentals),75.0,1350000.0,3.275000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Song of the South,Walt Disney Productions,"[November 12, 1946 ( 1946-11-12 ) (Premiere: A...",94 minutes,United States,English,$65 million,94.0,2125000.0,6.500000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Fun and Fancy Free,Walt Disney Productions,"[September 27, 1947 ( 1947-09-27 )]",73 minutes,United States,English,$3.165 million (worldwide rentals),73.0,NaN,3.165000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Melody Time,Walt Disney Productions,"May 27, 1948 ( 1948-05-27 )",75 minutes,United States,English,$2.56 million (worldwide rentals),75.0,1500000.0,2.560000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,So Dear to My Heart,Walt Disney Productions,"[November 29, 1948 (Chicago, Illinois), Januar...",82 minutes,United States,English,"$3.7 million (U.S. rental) $575,000 (foreign r...",82.0,1500000.0,3.700000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,The Adventures of Ichabod and Mr. Toad,Walt Disney Productions,"[October 5, 1949 ( 1949-10-05 )]",68 minutes,United States,English,$1.625 million (worldwide rentals),68.0,NaN,1.625000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Cinderella,Walt Disney Productions,"[February 15, 1950 ( 1950-02-15 ) (Boston), Ma...",74 minutes,United States,English,$263.6 million,74.0,2200000.0,2.636000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Treasure Island,Walt Disney Productions,"[June 22, 1950 ( 1950-06-22 ) (World Premiere-...",96 minutes,NaN,English,"$4,100,000 (worldwide rentals)",96.0,1800000.0,4.100000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Alice in Wonderland,Walt Disney Productions,"[July 26, 1951 ( 1951-07-26 ) (London, premier...",75 minutes,United States,English,"[$2.4 million (1951, domestic), $3.5 million (...",75.0,3000000.0,2.400000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,The Story of Robin Hood,NaN,"[March 13, 1952 ( 1952-03-13 ) (Premiere- Lond...",84 minutes,NaN,English,$2.1 million (US rentals),84.0,NaN,2.100000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
df.to_csv("disney_movie_data_final.csv")

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466 entries, 0 to 465
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    466 non-null    object
 1   Production company       194 non-null    object
 2   Release date             459 non-null    object
 3   Running time             452 non-null    object
 4   Country                  416 non-null    object
 5   Language                 446 non-null    object
 6   Box office               389 non-null    object
 7   Running time (int)       452 non-null    float64
 8   Budget (float)           297 non-null    float64
 9   Box office (float)       382 non-null    float64
 10  Release date (datetime)  454 non-null    datetime64[ns]
 11  imdb                     452 non-null    object
 12  metascore                452 non-null    object
 13  rotten_tomatoes          335 non-null    object
 14  Directed by              464 non-null    object
 15  Written by               206 non-null    object
 16  Based on                 245 non-null    object
 17  Produced by              456 non-null    object
 18  Starring                 430 non-null    object
 19  Music by                 458 non-null    object
 20  Distributed by           463 non-null    object
 21  Budget                   305 non-null    object
 22  Story by                 160 non-null    object
 23  Narrated by              56 non-null     object
 24  Cinematography           366 non-null    object
 25  Edited by                419 non-null    object
 26  Languages                18 non-null     object
 27  Screenplay by            220 non-null    object
 28  Countries                46 non-null     object
 29  Production companies     271 non-null    object
 30  Color process            3 non-null      object
 31  Japanese                 5 non-null      object
 32  Hepburn                  5 non-null      object
 33  Adaptation by            1 non-null      object
 34  Animation by             2 non-null      object
 35  Traditional              2 non-null      object
 36  Simplified               2 non-null      object
 37  Music                    1 non-null      object
 38  Lyrics                   1 non-null      object
 39  Book                     1 non-null      object
 40  Basis                    1 non-null      object
 41  Productions              1 non-null      object
 42  Awards                   1 non-null      object
dtypes: datetime64[ns](1), float64(3), object(39)
memory usage: 156.7+ KB

In [210]:
running_times = df.sort_values(['Box office (float)'], ascending=True)
running_times.head(20)

,title,Production company,Release date,Running time,Country,Language,Box office,Running time (int),Budget (float),Box office (float),...,Adaptation by,Animation by,Traditional,Simplified,Music,Lyrics,Book,Basis,Productions,Awards
413,Penguins,NaN,"[April 17, 2019 ( 2019-04-17 ) (United States)]",76 minutes,United States,English,$7.7\n million,76.0,NaN,7.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Pete's Dragon,Walt Disney Productions,"[November 3, 1977 ( 1977-11-03 )]",128 minutes,United States,English,$36 –39.6 million,128.0,10000000.0,36.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Academy Award Review of Walt Disney Cartoons,Walt Disney Productions,"[May 19, 1937 ( 1937-05-19 )]",41 minutes (74 minutes 1966 release),United States,English,$45.472,41.0,NaN,45.472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,The Boys: The Sherman Brothers' Story,NaN,"[April 24, 2009 ( 2009-04-24 ) (San Francisco ...",101 minutes,United States,English,"$55,513",101.0,NaN,55513.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Morning Light,Walt Disney Pictures,"October 17, 2008 ( 2008-10-17 )",100 minutes,United States,English,"$275,776",100.0,NaN,275776.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,America's Heart and Soul,NaN,"[July 2, 2004 ( 2004-07-02 )]",84 minutes,United States,English,"$314,402",84.0,NaN,314402.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Whispers: An Elephant's Tale,Walt Disney Pictures,"[March 10, 2000 ( 2000-03-10 )]",72 minutes,United States,English,"$500,000 (USA) (30 November 2000)",72.0,4000000.0,500000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Victory Through Air Power,Walt Disney Productions,"[July 17, 1943 ( 1943-07-17 )]",70 min,United States,English,"$799,000",70.0,788000.0,799000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Reluctant Dragon,Walt Disney Productions,"[June 27, 1941 ( 1941-06-27 )]",74 minutes,United States,English,"$960,000 (worldwide rentals)",74.0,600000.0,960000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,The Sword and the Rose,Walt Disney Productions,"[July 23, 1953 ( 1953-07-23 ) ('US )]",92 minutes,NaN,English,$1 million (US),92.0,2000000.0,1000000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,Sacred Planet,Walt Disney Pictures,"[April 22, 2004 ( 2004-04-22 )]",40 minutes,NaN,English,"$1,108,356",40.0,NaN,1108356.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Saludos Amigos,Walt Disney Productions,"[August 24, 1942 ( 1942-08-24 ) (World Premier...",42 minutes,United States,NaN,$1.135 million (worldwide rentals),42.0,NaN,1135000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Emil and the Detectives,Walt Disney Productions,"[December 18, 1964 ( 1964-12-18 )]",92 minutes,United States,English,"$1,275,000",92.0,NaN,1275000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Dumbo,Walt Disney Productions,"[October 23, 1941 ( 1941-10-23 ) (New York Cit...",64 minutes,United States,English,>$1.3 million (est. United States/Canada renta...,64.0,950000.0,1300000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Smith!,Walt Disney Productions,"[May 9, 1969 ( 1969-05-09 )]",112 minutes,United States,English,$1.3 million (US/ Canada rentals),112.0,NaN,1300000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,The Littlest Outlaw,Walt Disney Productions,"December 22, 1955 ( 1955-12-22 )",73 minutes,NaN,NaN,$1.6 million (US),73.0,NaN,1600000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,A Tiger Walks,Walt Disney Productions,"[March 12, 1964 ( 1964-03-12 )]",91 minutes,United States,English,"est. $1,600,000 (US/ Canada)",91.0,NaN,1600000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,The Adventures of Ichabod and Mr. Toad,Walt Disney Productions,"[October 5, 1949 ( 1949-10-05 )]",68 minutes,United States,English,$1.625 million (worldwide rentals),68.0,NaN,1625000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Third Man on the Mountain,Walt Disney Productions,"[November 10, 1959 ( 1959-11-10 )]",105 minutes,United States,English,"$1,700,000 (US/Canada rentals)",105.0,2000000.0,1700000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,The Great Locomotive Chase,Walt Disney Productions,"June 8, 1956",85 minutes,United States,English,$1.7 million (US),85.0,NaN,1700000.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
df['Profit'] = df['Box office (float)'] - df['Budget (float)']

In [229]:
df.head(10)

,title,Production company,Release date,Running time,Country,Language,Box office,Running time (int),Budget (float),Box office (float),...,Animation by,Traditional,Simplified,Music,Lyrics,Book,Basis,Productions,Awards,Profit
0,Academy Award Review of Walt Disney Cartoons,Walt Disney Productions,"[May 19, 1937 ( 1937-05-19 )]",41 minutes (74 minutes 1966 release),United States,English,$45.472,41.0,NaN,4.547200e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,Walt Disney Productions,"[December 21, 1937 ( 1937-12-21 ) ( Carthay Ci...",83 minutes,United States,English,$418 million,83.0,1490000.0,4.180000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,416510000.0
2,Pinocchio,Walt Disney Productions,"[February 7, 1940 ( 1940-02-07 ) ( Center Thea...",88 minutes,United States,English,$164 million,88.0,2600000.0,1.640000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161400000.0
3,Fantasia,Walt Disney Productions,"[November 13, 1940 ( 1940-11-13 )]",126 minutes,United States,English,$76.4–$83.3 million (United States and Canada),126.0,2280000.0,8.330000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81020000.0
4,The Reluctant Dragon,Walt Disney Productions,"[June 27, 1941 ( 1941-06-27 )]",74 minutes,United States,English,"$960,000 (worldwide rentals)",74.0,600000.0,9.600000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360000.0
5,Dumbo,Walt Disney Productions,"[October 23, 1941 ( 1941-10-23 ) (New York Cit...",64 minutes,United States,English,>$1.3 million (est. United States/Canada renta...,64.0,950000.0,1.300000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350000.0
6,Bambi,Walt Disney Productions,"[August 9, 1942 ( 1942-08-09 ) (World Premiere...",70 minutes,United States,English,$267.4 million,70.0,858000.0,2.674000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266542000.0
7,Saludos Amigos,Walt Disney Productions,"[August 24, 1942 ( 1942-08-24 ) (World Premier...",42 minutes,United States,NaN,$1.135 million (worldwide rentals),42.0,NaN,1.135000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Victory Through Air Power,Walt Disney Productions,"[July 17, 1943 ( 1943-07-17 )]",70 min,United States,English,"$799,000",70.0,788000.0,7.990000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11000.0
9,The Three Caballeros,Walt Disney Productions,"[December 21, 1944 ( 1944-12-21 ) (Mexico City...",71 minutes,United States,NaN,$3.355 million (worldwide rentals),71.0,NaN,3.355000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [222]:
cols = df.columns.tolist()

In [223]:
cols = cols[-1:] + cols[:-1]

In [224]:
cols

['Profit',
 'title',
 'Production company',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Box office',
 'Running time (int)',
 'Budget (float)',
 'Box office (float)',
 'Release date (datetime)',
 'imdb',
 'metascore',
 'rotten_tomatoes',
 'Directed by',
 'Written by',
 'Based on',
 'Produced by',
 'Starring',
 'Music by',
 'Distributed by',
 'Budget',
 'Story by',
 'Narrated by',
 'Cinematography',
 'Edited by',
 'Languages',
 'Screenplay by',
 'Countries',
 'Production companies',
 'Color process',
 'Japanese',
 'Hepburn',
 'Adaptation by',
 'Animation by',
 'Traditional',
 'Simplified',
 'Music',
 'Lyrics',
 'Book',
 'Basis',
 'Productions',
 'Awards']

In [225]:
cols = [
 'title',
 'Production company',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Box office',
 'Running time (int)',
 'Budget (float)',
 'Box office (float)',
 'Profit',
 'Release date (datetime)',
 'imdb',
 'metascore',
 'rotten_tomatoes',
 'Directed by',
 'Written by',
 'Based on',
 'Produced by',
 'Starring',
 'Music by',
 'Distributed by',
 'Budget',
 'Story by',
 'Narrated by',
 'Cinematography',
 'Edited by',
 'Languages',
 'Screenplay by',
 'Countries',
 'Production companies',
 'Color process',
 'Japanese',
 'Hepburn',
 'Adaptation by',
 'Animation by',
 'Traditional',
 'Simplified',
 'Music',
 'Lyrics',
 'Book',
 'Basis',
 'Productions',
 'Awards']

In [226]:
cols

['title',
 'Production company',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Box office',
 'Running time (int)',
 'Budget (float)',
 'Box office (float)',
 'Profit',
 'Release date (datetime)',
 'imdb',
 'metascore',
 'rotten_tomatoes',
 'Directed by',
 'Written by',
 'Based on',
 'Produced by',
 'Starring',
 'Music by',
 'Distributed by',
 'Budget',
 'Story by',
 'Narrated by',
 'Cinematography',
 'Edited by',
 'Languages',
 'Screenplay by',
 'Countries',
 'Production companies',
 'Color process',
 'Japanese',
 'Hepburn',
 'Adaptation by',
 'Animation by',
 'Traditional',
 'Simplified',
 'Music',
 'Lyrics',
 'Book',
 'Basis',
 'Productions',
 'Awards']

In [227]:
df_copy = df[cols]

In [228]:
df_copy.head()

,title,Production company,Release date,Running time,Country,Language,Box office,Running time (int),Budget (float),Box office (float),...,Adaptation by,Animation by,Traditional,Simplified,Music,Lyrics,Book,Basis,Productions,Awards
0,Academy Award Review of Walt Disney Cartoons,Walt Disney Productions,"[May 19, 1937 ( 1937-05-19 )]",41 minutes (74 minutes 1966 release),United States,English,$45.472,41.0,NaN,4.547200e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,Walt Disney Productions,"[December 21, 1937 ( 1937-12-21 ) ( Carthay Ci...",83 minutes,United States,English,$418 million,83.0,1490000.0,4.180000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pinocchio,Walt Disney Productions,"[February 7, 1940 ( 1940-02-07 ) ( Center Thea...",88 minutes,United States,English,$164 million,88.0,2600000.0,1.640000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fantasia,Walt Disney Productions,"[November 13, 1940 ( 1940-11-13 )]",126 minutes,United States,English,$76.4–$83.3 million (United States and Canada),126.0,2280000.0,8.330000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Reluctant Dragon,Walt Disney Productions,"[June 27, 1941 ( 1941-06-27 )]",74 minutes,United States,English,"$960,000 (worldwide rentals)",74.0,600000.0,9.600000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
df = df[cols]

In [233]:
df.['Profit']

SyntaxError: invalid syntax (<ipython-input-233-8074c56bc9af>, line 1)